$primary-color: #3674b5;
$secondary-color: #578fca;
$tertiary-color: #a1e3f9;
$quaternary-color: #d1f8ef;

$alert-color: #de3163;

$white: #ffffff;
$gray-50: #dedede;
$gray-100: #cccccc;
$gray-200: #b2b2b2;
$gray-300: #999999;
$gray-400: #7f7f7f;
$gray-500: #666666;
$gray-600: #4c4c4c;
$gray-700: #323232;

$red: #ffadad;
$orange: #ffd6a5;
$yellow: #fdffb6;
$green: #caffbf;
$sky: #9bf6ff;
$blue: #a0c4ff;
$purple: #bdb2ff;
$pink: #ffc6ff;
